{% extends 'inicio.html' %}

{% comment %} {% block title %} Criar Cliente {% endblock %} {% endcomment %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col-sm-6 offset-sm-3">
                <h3 class="text-center">Conta confirmada com sucesso</h3>
                <p>A sua conta de Cliente foi confirmada. Seja bem-vindo a nossa loja.</p>
                <div class="my-5"><a href="{% url 'login_cliente' %}" class="btn btn-primary">Login</a></div>
            </div>
        </div>
    </div>
{% endblock %}