{% extends 'inicio.html' %}

{% comment %} {% block title %} Criar Cliente {% endblock %} {% endcomment %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col-sm-6 offset-sm-3">
                <h3 class="text-center">Registro de Novo Cliente</h3>
                
                <form action="{% url 'criar_cliente' %}" method="post">
                    {% csrf_token %}

                    <!-- email -->
                    <div class="my-3">
                        <label>Email</label>
                        {{ user_form.email }}
                    </div>

                    <!-- senha_1 -->
                    <div class="my-3">
                        <label>Senha</label>
                        {{ user_form.password1 }}
                    </div>

                    <!-- senha_2 -->
                    <div class="my-3">
                        <label>Repetir a Senha</label>
                        {{ user_form.password2 }}
                    </div>

                    <!-- nome_completo -->
                    <div class="my-3">
                        <label>Nome Completo</label>
                        {{ user_form.username }}
                    </div>

                    <!-- morada -->
                    <div class="my-3">
                        <label>Endereço</label>
                        {{ cliente_form.morada}}
                    </div>

                    <!-- cidade -->
                    <div class="my-3">
                        <label>Cidade</label>
                        {{ cliente_form.cidade}}
                    </div>

                    <!-- telefone -->
                    <div class="my-3">
                        <label>Telefone</label>
                        {{ cliente_form.telefone}}
                    </div>

                    <!-- submit -->
                    <div class="my-3">
                        <input type="submit" value="Criar conta" class="btn btn-primary">
                    </div>

                    {% if user_form.errors or cliente_form.errors %}
                        <div class="alert alert-danger text-center">
                            {{ user_form.errors  }}
                            {{ cliente_form.errors  }} 
                        </div>
                    {% endif %}

                </form> 
            </div>
        </div>
    </div>
{% endblock %}