{% extends 'inicio.html' %}

{% comment %} {% block title %} Criar Cliente {% endblock %} {% endcomment %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col-sm-6 offset-sm-3">
                <h3 class="text-center">Registro de Novo Cliente</h3>
                
                <form action="?a=criar_cliente" method="post">
                    
                    <!-- email -->
                    <div class="my-3">
                        <label>Email</label>
                        <input type="email" class="form-control" name="text_email" placeholder="Email" required>
                    </div>

                    <!-- senha_1 -->
                    <div class="my-3">
                        <label>Senha</label>
                        <input type="password" class="form-control" name="text_senha_1" placeholder="Senha" required>
                    </div>

                    <!-- senha_2 -->
                    <div class="my-3">
                        <label>Repetir a Senha</label>
                        <input type="password" class="form-control" name="text_senha_2" placeholder="Repetir a Senha" required>
                    </div>

                    <!-- nome_completo -->
                    <div class="my-3">
                        <label>Nome Completo</label>
                        <input type="text" class="form-control" name="text_nome_completo" placeholder="Nome Completo" required>
                    </div>

                    <!-- morada -->
                    <div class="my-3">
                        <label>Endereço</label>
                        <input type="text" class="form-control" name="text_morada" placeholder="Endereço" required>
                    </div>

                    <!-- cidade -->
                    <div class="my-3">
                        <label>Cidade</label>
                        <input type="text" class="form-control" name="text_cidade" placeholder="Cidade" required>
                    </div>

                    <!-- telefone -->
                    <div class="my-3">
                        <label>Telefone</label>
                        <input type="text" class="form-control" name="text_telefone" placeholder="Telefone">
                    </div>

                    <!-- submit -->
                    <div class="my-3">
                        <input type="submit" value="Criar conta" class="btn btn-primary">
                    </div>

                    {% comment %} <?php  if(isset($_SESSION['erro'])):?>
                        <div class="alert alert-danger text-center">
                            <?= $_SESSION['erro'] ?>
                            <?php unset($_SESSION['erro'])?>
                        </div>
                    <?php endif; ?> {% endcomment %}

                </form> 
            </div>
        </div>
    </div>
{% endblock %}