{% extends 'inicio.html' %}

{% comment %} {% block title %} Criar Cliente {% endblock %} {% endcomment %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col-sm-6 offset-sm-3">
                <h3 class="text-center">Registro de Novo Cliente</h3>
                
                <form action="?a=criar_cliente" method="post">
                    {% csrf_token %}

                    <!-- email -->
                    <div class="my-3">
                        <label>Email</label>
                        {{ form1.email }}
                    </div>

                    <!-- senha_1 -->
                    <div class="my-3">
                        <label>Senha</label>
                        {{ form1.password1 }}
                    </div>

                    <!-- senha_2 -->
                    <div class="my-3">
                        <label>Repetir a Senha</label>
                        {{ form1.password2 }}
                    </div>

                    <!-- nome_completo -->
                    <div class="my-3">
                        <label>Nome Completo</label>
                        {{ form1.username }}
                    </div>

                    <!-- morada -->
                    <div class="my-3">
                        <label>Endereço</label>
                        {{ form2.morada}}
                    </div>

                    <!-- cidade -->
                    <div class="my-3">
                        <label>Cidade</label>
                        {{ form2.cidade}}
                    </div>

                    <!-- telefone -->
                    <div class="my-3">
                        <label>Telefone</label>
                        {{ form2.telefone}}
                    </div>

                    <!-- submit -->
                    <div class="my-3">
                        <input type="submit" value="Criar conta" class="btn btn-primary">
                    </div>

                    {% for message in messag %}
                        <p> {{messag}} </p>
                    {% endfor %}

                </form> 
            </div>
        </div>
    </div>
{% endblock %}